@import '../../styles/colors.scss';

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    border: 16px solid $lighterGrey;
    border-top: 16px solid $darkBlueTint;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
