@use '../../styles/colors.scss';

.social-links {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  align-items: center;
  text-align: center;
  color: colors.$darkBlueTint;

  span {
    grid-column-start: 2;
    margin: 0.25rem;
  }

  button {
    margin: 0.25rem;
    cursor: pointer;
    font-weight: 600 !important;
    color: colors.$blueViolet !important;
    font-size: 1.25rem;
  }

  button:hover {
    color: colors.$medBlue !important;
  }
}

.social-links::before,
.social-links::after {
  content: '';
  height: 2px;
  background-color: colors.$darkBlueTint;
  width: 100%;
}
