@import '../../styles/colors.scss';

.post-wrapper {
  flex: auto;

  .post-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
      min-width: 350px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
      border-color: $lightGrey;
      padding: 5px 10px;
    }

    .post-count-wrapper {
      display: flex;
      .post-count {
        margin-left: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .post-wrapper {
    flex: auto;
    .post-search-wrapper {
      flex-direction: column;
      margin-top: 1rem;

      input {
        min-width: 310px;
      }

      .post-count,
      p {
        margin: 0.5rem 0 0 0;
      }
    }
  }
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;

  .post {
    width: 320px;
    margin: 20px 20px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border-radius: 5px;

    .post-date {
      font-size: 1rem;
      margin: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $darkBlueTint;

      .post-title {
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    a:hover {
      color: $medBlue;
    }
  }

  .empty-results {
    margin-left: 2rem;
    margin-right: 2rem;
    color: $darkBlueTint;
  }
}

@media only screen and (max-width: 767px) {
  .post-search-wrapper {
    margin-bottom: 0;
    flex-direction: column;
    margin-top: 1rem;
    .post-count,
    p {
      margin: 0.5rem 0 0 0;
    }
  }

  .posts-wrapper {
    padding: 0;
    margin-top: 0;

    .post {
      margin: 20px 10px;
    }
  }
}
