@import '../../styles/colors.scss';

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .post {
    width: 320px;
    margin: 20px 20px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border-radius: 5px;

    .post-date {
      font-size: 1rem;
      margin: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $darkBlueTint;

      .post-title {
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    a:hover {
      color: $medBlue;
    }
  }
}
