// ------------ GREENS ------------
$green: #40c9a2;

// ------------ BLUES ------------
$lightBlue: #adfcf9;
$medBlue: #4b88a2;
$darkBlue: #1c2541;

// ------------ PURPLES ------------
$blueViolet: #540d6e;
