// ------------ GREENS ------------
$lightestGreen: #ecfaf6;
$lightGreen: #8cdfc7;
$green: #40c9a2;

// ------------ BLUES ------------
$lightBlue: #adfcf9;

$medBlueTint: #eceef5;
$medBlueTint2: #8e9ac2;
$medBlue: #42579a;

$darkBlueTint2: #707687;
$darkBlueTint: #333b54;
$darkBlue: #1c2541;

// ------------ PURPLES ------------
$blueViolet: #540d6e;

// ------------ GREYS ------------
$lighterGrey: #f3f3f3;
$lightGrey: #d3d3d3;
