@import './colors.scss';

.wide-page-body {
  max-width: 1150px;
  width: 100%;
  margin: 30px auto;
  padding: 0 2rem;
  color: $darkBlueTint;
  min-height: 71vh;
}

.page-body {
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  padding: 0 2rem;
  color: $darkBlueTint;
}

h1 {
  color: $darkBlue;
}

a {
  text-decoration: none;
  color: $blueViolet;
}

a:hover {
  color: $medBlue;
}

p,
li {
  font-size: 1.25rem;
}

// main page
.main-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .main-intro {
    max-width: 26rem;
  }

  img {
    max-height: 15rem;
    border-radius: 50%;
  }
}

// about page scss
.about-container {
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 5px;
    }
  }
}

// media page scss
.media-container {
  h3 {
    margin: 0;
  }

  ul {
    margin-top: 0;
  }

  .media-items {
    display: flex;
    align-items: center;
    padding: 4px 0;
    .title {
      max-width: 480px;
    }
    .date {
      margin-left: auto;
    }
  }

  .companies {
    padding-left: 40px;
  }

  .articles {
    padding-left: 3rem;
  }

  .media-images {
    max-height: 2rem;
    padding-right: 1rem;
  }
}
