@import './colors.scss';

.wide-page-body {
  max-width: 1150px;
  width: 100%;
  margin: 30px auto;
  padding: 0 2rem;
  color: $darkBlueTint;
  min-height: 71vh;
}

.page-body {
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  padding: 0 2rem;
  color: $darkBlueTint;
}

h1 {
  color: $darkBlue;
}

a {
  text-decoration: none;
  color: $blueViolet;
}

a:hover {
  color: $medBlue;
}

p,
li,
input {
  font-size: 1.25rem;
}

// main page
.main-page {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-intro {
    max-width: 26rem;
  }

  img {
    max-height: 15rem;
    border-radius: 50%;
  }
}

.welcome-message {
  margin-bottom: 3rem;
  a {
    font-weight: 600;
  }
}

.latest-title {
  border-bottom: 2px solid $medBlue;
}

// about page scss
.about-container {
  a {
    font-weight: 600;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 5px;
    }
  }
}

// media page scss
.media-container {
  h2 {
    border-bottom: 2px solid $medBlue;
  }

  h3 {
    margin: 0;
  }

  ul {
    margin-top: 0;
  }

  .intro {
    a {
      font-weight: 600;
    }
  }

  .media-items {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    .title {
      max-width: 480px;
    }
    .date {
      margin-left: auto;
    }
  }

  .companies {
    padding-left: 40px;
  }

  .articles {
    padding-left: 3rem;
  }

  .media-images {
    max-height: 2rem;
    padding-right: 1rem;
  }
}

.contact-container {
  h3 {
    border-bottom: 2px solid $medBlue;
  }

  a {
    font-weight: 600;
  }
}
