@use '../../styles/colors.scss';

.user-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-decoration: none;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: colors.$darkBlue;
    svg {
      font-size: 30px;
    }
  }

  a:hover {
    color: colors.$medBlue;
  }
}
