@import '../../styles/colors.scss';

@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

.subscribe-button {
  font-weight: 600;
  color: white;
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 1rem;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-image: (linear-gradient(270deg, $medBlueTint2, $medBlue));
  background-size: 400% 400%;

  animation: TransitioningBackground 10s ease infinite;

  // psuedo-element shine animation left side
  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // psuedo-element shine animation right side
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  // grow button and change background gradient on hover
  &:hover {
    background-image: (linear-gradient(to left, #2d8fe5 0%, #d155b8 100%));
    width: 215px;
    height: 75px;
    cursor: pointer;

    // psuedo-element for right-side shine animation softer and more translucent
    &::before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: 0.7s;
    }
    // psuedo-element for left-side shine animation fully opaque
    &::after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 0.7s;
    }
  }
}
