@import '../../styles/colors.scss';

.navigation-wrapper {
  background-color: $green;

  .navigation-header {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation-names,
    .navigation-links {
      display: flex;
      align-items: center;
    }

    .navigation-names {
      width: 18%;
      justify-content: space-between;
    }

    .navigation-links {
      width: 30%;
      justify-content: space-between;
    }
  }
}
