@import '../../styles/colors.scss';

.navigation-wrapper {
  background-color: $green;

  .navigation-header {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation-names,
    .navigation-links {
      display: flex;
      align-items: center;
    }

    .navigation-names {
      justify-content: space-between;
      a {
        padding: 15px 10px 10px 0;
      }
      span {
        font-size: 24px;
        font-weight: 700;
        color: $darkBlue;
      }
    }

    .navigation-links {
      width: 30%;
      justify-content: space-between;
      a {
        text-decoration: none;
        font-size: 20px;
        color: $darkBlue;
        font-weight: 600;
      }
      a.active,
      a:hover {
        color: $medBlue;
      }
    }
  }
}
