@import '../../styles/colors.scss';

.latest-posts-wrapper {
  display: flex;
  flex-direction: column;

  p > a {
    font-weight: 600;
  }

  .post {
    margin: 10px 20px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border-radius: 5px;

    .post-title {
      color: $darkBlueTint;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .post-title:hover {
      color: $medBlue;
    }

    p {
      margin: 0.25rem 0 0.25rem 0;
    }

    .read-more {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: clamp(1rem, unquote('0.8798rem + 0.5115vw'), 1.125rem);
  }

  .latest-posts-wrapper {
    .post {
      margin: 0.5rem 0;
      padding: 0.5rem;

      .post-title {
        font-size: clamp(1.1rem, unquote('0.7153rem + 1.6368vw'), 1.5rem);
        line-height: unset;
      }

      .post-tag-container {
        display: none;
      }
    }
  }
}
