@import '../../styles/colors.scss';

.mobile-nav-wrapper {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $green;
  align-items: center;
  justify-content: center;
  position: fixed;
  // animate nav opening details start
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
  overflow: hidden;
}

.mobile-nav-wrapper.open {
  // animate nav opening details end
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.mobile-link {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: #1c2541;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0 0.5rem;
}

.mobile-link.active {
  color: $medBlue;
  background-color: $lightGreen;
  border-radius: 5px;
  width: 90%;
}
