@import '../../styles/colors.scss';

.mobile-nav-wrapper {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $green;
  align-items: center;
  justify-content: center;
  position: fixed;

  .mobile-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #1c2541;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0.5rem;
  }
  .mobile-link.active {
    color: $medBlue;
    background-color: $lightGreen;
    border-radius: 5px;
    width: 90%;
  }

  @media only screen and (min-width: 767px) {
    .mobile-link {
      display: none;
    }
  }
}
