@import '../../styles/colors.scss';

.footer {
  justify-content: center;
  align-content: center;
  padding: 0.5rem 1rem;
  background: $green;

  .footer-content {
    max-width: 800px;
    margin: auto;
  }
}

.notice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-container h4 {
  text-align: center;
  margin: 0;
  color: $darkBlue;
}

@media only screen and (max-width: 650px) {
  .notice-container {
    flex-direction: column-reverse;
  }
}
