@import '../../styles/colors.scss';

.post-tag-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  align-items: center;

  span {
    padding: 0 0.5rem 0 0;
  }

  div {
    margin: 0.25rem;
    padding: 0 0.5rem;
    border-radius: 10px;
  }

  .javascript {
    background-color: #efd81c;
  }
  // .javascript:hover {
  //   background-color: darken(#f8d137, 10%);
  // }

  .programming {
    background-color: #9593d9;
    color: white;
  }
  // .programming:hover {
  //   background-color: darken(#9593d9, 10%);
  // }

  .vscode {
    background-color: #0078d7;
    color: white;
  }
  // .vscode:hover {
  //   background-color: darken(#0078d7, 10%);
  // }

  .eslint {
    background-color: #7c7cec;
    color: white;
  }
  // .eslint:hover {
  //   background-color: darken(#7c7cec, 10%);
  // }

  .testing {
    background-color: #e56399;
    color: white;
  }
  // .testing:hover {
  //   background-color: darken(#e56399, 10%);
  // }

  .puppeteer {
    background-color: #00d39d;
    color: white;
  }
  // .puppeteer:hover {
  //   background-color: darken(#00d39d, 10%);
  // }

  .react {
    background-color: #61dbfb;
  }
  // .react:hover {
  //   background-color: darken(#61dbfb, 10%);
  // }

  .jest {
    background-color: #944058;
    color: white;
  }
  // .jest:hover {
  //   background-color: darken(#944058, 10%);
  // }

  .nodejs {
    background-color: #68a063;
    color: white;
  }
  // .nodejs:hover {
  //   background-color: darken(#68a063, 10%);
  // }

  .express {
    background-color: #7f96ff;
    color: white;
  }
  // .express:hover {
  //   background-color: darken(#7f96ff, 10%);
  // }

  .big-data {
    background-color: #db324d;
    color: white;
  }
  // .big-data:hover {
  //   background-color: darken(#db324d, 10%);
  // }

  .java {
    background-color: #e61f24;
    color: white;
  }
  // .java:hover {
  //   background-color: darken(#e61f24, 10%);
  // }

  .spring-boot {
    background-color: #6db33e;
    color: white;
  }
  // .spring-boot:hover {
  //   background-color: darken(#6db33e, 10%);
  // }

  .jwt {
    background-color: #07b4eb;
    color: white;
  }
  // .jwt:hover {
  //   background-color: darken(#07b4eb, 10%);
  // }

  .security {
    background-color: #d0bcd5;
  }
  // .security:hover {
  //   background-color: darken(#d0bcd5, 10%);
  // }

  .api {
    background-color: #3772ff;
    color: white;
  }
  // .api:hover {
  //   background-color: #0049f5;
  // }

  .postman {
    background-color: #f66933;
    color: white;
  }
  // .postman:hover {
  //   background-color: darken(#f66933, 10%);
  // }

  .insomnia {
    background-color: #5648b8;
    color: white;
  }
  // .insomnia:hover {
  //   background-color: darken(#5648b8, 10%);
  // }

  .docker {
    background-color: #2496ed;
    color: white;
  }
  // .docker:hover {
  //   background-color: darken(#2496ed, 10%);
  // }

  .sql {
    background-color: #e7a11d;
    color: white;
  }
  // .sql:hover {
  //   background-color: darken(#e7a11d, 10%);
  // }

  .devops {
    background-color: #031d44;
    color: white;
  }
  // .devops:hover {
  //   background-color: darken(#031d44, 10%);
  // }

  .jib {
    background-color: #f96141;
    color: white;
  }
  // .jib:hover {
  //   background-color: darken(#f96141, 10%);
  // }

  .graphql {
    background-color: #e535ab;
    color: white;
  }
  // .graphql:hover {
  //   background-color: darken(#e535ab, 10%);
  // }

  .career-change {
    background-color: #c97064;
    color: white;
  }
  // .career-change:hover {
  //   background-color: darken(#c97064, 10%);
  // }

  .advice {
    background-color: #320e3b;
    color: white;
  }
  // .advice:hover {
  //   background-color: darken(#320e3b, 10%);
  // }

  .performance {
    background-color: #ff8c00;
    color: white;
  }

  .swagger {
    background-color: #87be3f;
    color: white;
  }

  .errors {
    background-color: #ff6347;
    color: white;
  }

  .self-improvement {
    background-color: #ff00ff;
    color: white;
  }

  .angular {
    background-color: #df1811;
    color: white;
  }

  .nvm {
    background-color: #4b0082;
    color: white;
  }

  .npm {
    background-color: #cc3532;
    color: white;
  }

  .async {
    background-color: #ee82ee;
    color: white;
  }

  .promises {
    background-color: #3cb371;
    color: white;
  }

  .es-6 {
    background-color: #0000ff;
    color: white;
  }

  .git {
    background-color: #8b008b;
    color: white;
  }

  .github {
    background-color: #c71585;
    color: white;
  }

  .css {
    background-color: #1175bb;
    color: white;
  }

  .internationalization {
    background-color: #11bb42;
    color: white;
  }

  .gatsby {
    background-color: #633194;
    color: white;
  }

  .cypress {
    background-color: #393939;
    color: white;
  }

  .netlify {
    background-color: #1e847d;
    color: white;
  }

  .blues {
    background-color: #01b9ff;
    color: white;
  }

  .gps {
    background-color: #1b8e51;
    color: white;
  }

  .cellular {
    background-color: #6695b4;
    color: white;
  }

  .iot {
    background-color: #e73d2a;
    color: white;
  }

  .datacake {
    background-color: #1c2631;
    color: white;
  }

  .volta {
    background-color: #79bac1;
    color: white;
  }

  .e-2-e {
    background-color: #04c38e;
  }

  .nextjs {
    background-color: #ec5865;
    color: white;
  }

  .typescript {
    background-color: #3178c6;
    color: white;
  }

  .maps {
    background-color: #61ba9e;
    color: white;
  }

  .sequelize {
    background-color: #2279bd;
    color: white;
  }

  .data-visualization {
    background-color: #7fffd4;
  }

  .alert {
    background-color: #ff5f15;
    color: white;
  }

  .python {
    background-color: #f8e16f;
  }

  .postgresql {
    background-color: #31648c;
    color: white;
  }

  .aws {
    background-color: #ea860e;
    color: white;
  }

  .prisma {
    background-color: #1a202c;
    color: white;
  }

  .bash {
    background-color: #008080;
    color: white;
  }

  .selenium {
    background-color: #868686;
    color: white;
  }

  .webdriver {
    background-color: #30af34;
    color: white;
  }

  .web-scraping {
    background-color: #0096ff;
    color: white;
  }
}
